[submodule "lib/hxnodelibs"]
	path = lib/hxnodelibs
	url = https://github.com/HaxeFoundation/hxnodelibs.git
[submodule "lib/pyextern"]
	path = lib/pyextern
	url = https://github.com/andyli/pyextern.git
[submodule "lib/chrome.extension"]
	path = lib/chrome.extension
	url = https://github.com/andyli/chrome.extension.git
