service: charleywong
app: charleywong
org: giffonio
frameworkVersion: ">=1.61.1"

provider:
  name: aws
  runtime: nodejs12.x
  timeout: 45
  apiGateway:
    binaryMediaTypes:
      - '*/*'
  environment:
    GOOGLE_CLIENT_EMAIL: ${env:GOOGLE_CLIENT_EMAIL}
    GOOGLE_PRIVATE_KEY: ${env:GOOGLE_PRIVATE_KEY}

package:
  exclude:
    - .devcontainer/**
    - .github/**
    - .haxelib/**
    - .vscode/**
    - chrome/**
    - lib/**
    - src/**
    - test/**
    - '*.py'
    - '*.hxml'
    - browser.js
    - chrome.*.js

functions:
  web:
    handler: index.handler
    events:
      - http:
          method: ANY
          path: '/'
          cors: true
      - http:
          method: ANY
          path: '{proxy+}'
          cors: true

plugins:
  - serverless-prune-plugin

custom:
  prune:
    automatic: true
    number: 5
