.masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -10px; /* gutter size offset */
    width: auto;
}

.masonry-grid-column {
    padding-left: 10px; /* gutter size */
    background-clip: padding-box;
}
  
/* Style your items */
.masonry-grid-column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 10px;
}

.mooncake-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-image: url("/images/noun_Mooncake_1253424.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    vertical-align: text-bottom;
}

.mooncake2020 .card {
    overflow: hidden;
}

.mooncake2020 .card-link {
    padding: 1em;
}

.mooncake2020 .card-body {
    padding: 20px 15px;
}