.masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -10px; /* gutter size offset */
    width: auto;
}

.masonry-grid-column {
    padding-left: 10px; /* gutter size */
    background-clip: padding-box;
}
  
/* Style your items */
.masonry-grid-column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 10px;
}

.mooncake-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-image: url("/images/noun_Mooncake_1253424.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    vertical-align: text-bottom;
}

.mooncake2020 {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.mooncake2020 .card {
    overflow: hidden;
}

.mooncake2020 .card-link {
    padding: 1em;
}

.card-link+.card-link {
    margin-left: 0.5rem;
}

.mooncake2020 .card-body {
    padding: 20px 15px;
}

@media (max-width: 380px) {
    .mooncake2020 .card-body {
        padding: 10px 5px;
    }
}

.mooncake-info > div {
    margin-bottom: 0.5rem;
    min-height: 150px;
    background-image: url("/images/Rolling-1s-200px.gif");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100px 100px;
}

.fb-post {
    background-color: transparent;
}

.fb-post[fb-xfbml-state="rendered"] {
    background-color: #FFF;
}

.mooncake2020 .MuiToolbar-root {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.mooncake2020 .MuiFormControl-root {
    min-width: 120px;
    margin-left: 1em;
}

.mooncake2020 .MuiSelect-select {
    margin-bottom: -0.1em;
}

.mooncake-name {
    border: 1px solid transparent;
    border-radius: 1em;
    padding: 0 0.5em 0 0;
}

.mooncake-name.selected-mooncake-type {
    border: 2px solid #f4a948;
}