* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', 'Noto Sans TC',  sans-serif;
}

body {
    background: #f4a948;
}

form {
    margin: 0;
}

iframe.place {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
}

.fb-post {
    background-color: white;
}

.instagram-media {
    width: 100%;
}

.logo-header {
    display: block;
    width: 25%;
    min-width: 150px;
    max-width: 200px;
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.logo-header:before{
    content: "";
    display: block;
    padding-top: 75%;  /* initial ratio of 1:1*/
}

.profile-pic {
    max-width: 100%;
    width: 200px;
    height: auto;
    background-image: url("/images/Rolling-1s-200px.gif");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 75% 75%;
}

.ybm-info blockquote .detail a {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1em;
}

.post-link {
    border: 1px #ddd solid;
    padding: 1em;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-link a {
    white-space: nowrap;
}

a.post-preview:hover {
    text-decoration: none;
}

.search-input {
    border: 3px solid #f4a948;
    border-right: 0;
    font-size: 1.2rem;
    border-radius: 10px 0 0 10px;
    outline: none;
    transition: border-color 0.15s linear;
}

.search-input:focus, .search-input:focus ~.search-btn {
    border-color: #007bff;
}

.search-btn {
    background-color: #172451;
    color: white;
    border: 3px solid #f4a948;
    border-radius: 0 10px 10px 0;
    font-size: 1.2rem;
    transition: border-color 0.15s linear;
}

.entity-list li {
    list-style: decimal;
    padding: 5px;
    border-bottom: 2px dotted #ccc;
    list-style-position: inside;
}

.entity-list li:last-child {
    border-bottom: 0;
}

.entity-list li .area:first-child {
    margin-left: 0.5em;
}

.entity-list li.tag-closed a {
    color: gray;
}

.entity-list li .area {
    font-size: small;
    margin: 0 0.1em;
    white-space: nowrap;
    color: #333;
}

.places .MuiInputBase-root {
    max-width: 100%;
}

.places .MuiSelect-select {
    user-select: text;
}

.places .MuiSelect-select:focus {
    background-color: transparent;
}

.places .MuiSelect-selectMenu {
    white-space: normal;
    text-align: left;
    line-height: 1.5em;
}

body .MuiMenuItem-root {
    white-space: normal;
}

.container-entity {
    max-width: min(584px,100%); /* fb-post's max-width is 550px */
    width: max-content;
}

.container-btm:after {
    background: linear-gradient(-45deg, #f4a948 8px, transparent 0), linear-gradient(45deg, #f4a948 8px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 16px 16px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 16px;
}

.ybm-info a * {
    font-size: 100%;
}

.ybm-info .badge-pill {
    background-color: #eee;
}

.ybm-logo-wrapper {
    position: relative;
    display: inline-block;
    width: 1.25em;
    height: 1em;
}

.ybm-logo {
    position: absolute;
    top: -0.1em;
    right: 0;
    width: 1.5em;
    height: 1.5em;
}

.ybm-info blockquote {
    white-space: pre-wrap;
    text-align: left;
}

.ybm-info .blockquote-footer {
    text-align: left;
    margin-top: 1em;
}

.ybm-info .blockquote-footer::before {
    content: "";
}

.webpage {
    padding: 5px;
    border-bottom: 2px dotted #ccc;
}

.fb_iframe_widget {
    display: block;
    width: max-content;
    margin: 0 auto;
}

.youtube-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    width: 100% !important;
}

.youtube-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    margin-top: 2em;
    text-align: center;
}

@media (min-width: 992px) {
    .order-first-lg {
        order: -1;
    }
}

.container-yc {
    padding: 16px 0;
}

.yc {
    background: #fedf2e;
    border-radius: 50%;
    background-size: 20px;
    padding: 2px 7px;
    display: inline-block;
    margin: 2px;
}

.color_black_o60 {
    color: rgba(0,0,0,0.6);
}

.color_black_o60 a {
    color: rgba(0,0,0,0.6);
    display: inline-block;
    line-height: 1.2em;
    text-decoration: none;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.color_black_o60 a:hover {
    text-decoration: none;
    border-bottom: 1px solid #000;
}

::selection {
    background: #ff8318;
}

.tags li {
    list-style: none;
    display: inline-block;
    opacity: 0;
    animation-name: taags;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.tags li:nth-child(1) {
    animation-delay: 0.5s;
}

.tags li:nth-child(2) {
    animation-delay: 0.75s;
}

.tags li:nth-child(3) {
    animation-delay: 1.0s;
}

.tags li:nth-child(4) {
    animation-delay: 1.25s;
}

.tags li:nth-child(5) {
    animation-delay: 1.5s;
}

.tags li:nth-child(6) {
    animation-delay: 1.75s;
}

.tags li:nth-child(7) {
    animation-delay: 2.0s;
}

.tags li:nth-child(8) {
    animation-delay: 2.25s;
}

.tags li:nth-child(9) {
    animation-delay: 2.5s;
}

.tags li:nth-child(10) {
    animation-delay: 2.75s;
}

.tags li a {
    color: inherit;
    background: #fee130;
    border-radius: 12px;
    padding: 2px 5px;
    margin: 0 2px;
    transition: background 0.15s linear;
}

.tags li a:hover {
    text-decoration: none;
    background: #ff5200;
}

.container-tags {
    line-height: 2rem;
}

@keyframes taags {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    } 
}

.logo-c {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    min-width: 120px;
    animation:logoc 500ms ease forwards;
    -moz-animation:logoc 500ms ease forwards;
    -webkit-animation:logoc 500ms ease forwards;
}

@keyframes logoc {
    0% {
        opacity: 0;
        top: -80px;
    }
    100% {
        opacity: 1;
        top: -60px;
    }
}

.container-search {
    background-image:linear-gradient(0deg, rgba(244, 169, 72, 0.8), rgba(244, 169, 72, 0.5), rgba(255, 212, 157, 0.5)), url('/images/burger-theme.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.container-intro {
    background-image:linear-gradient(90deg, #efa341 50%, #ef9f39 50%);
}

.bg-stripe-y {
    background: url(
        data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAK0lEQVQYV2O806NszAAF//4xnmGECYA4TEz/TcACMA5IIeOtLpX/IBmYNgDOyxPGopEE8gAAAABJRU5ErkJggg==
    ) repeat;
}

.color_fb {
    color: #3b5998  !important;
    border-bottom: 0 !important;
}

.color_ig {
    color: #c80085  !important;
    border-bottom: 0 !important;
}

/* general styling class */
.rounded-10 {
    border-radius: 10px;
}
/* general styling class */