version: '3'
services:
  workspace:
    image: giffon/charleywong_devcontainer_workspace:20210423120226
    init: true
    volumes:
      - /var/run/docker.sock:/var/run/docker-host.sock
      - ..:/workspace:cached
    environment:
      - TZ=Asia/Hong_Kong
    ports:
      - "443:443"
    user: vscode
    entrypoint: /usr/local/share/docker-init.sh
    command: sleep infinity
