version: '3'
services:
  workspace:
    image: ghcr.io/giffon/charleywong_devcontainer_workspace:master
    init: true
    volumes:
      - /var/run/docker.sock:/var/run/docker-host.sock
      - ..:/workspace:cached
    environment:
      - TZ=Asia/Hong_Kong
      - EARTHLY_BUILDKIT_HOST=tcp://earthly:8372
      - EARTHLY_SECRET_FILES=.envrc=/workspace/.envrc
      - EARTHLY_REMOTE_CACHE=ghcr.io/giffon/charleywong_cache:master_devcontainer_workspace
    user: vscode
    entrypoint: /usr/local/share/docker-init.sh
    command: sleep infinity
  cloudflared:
    image: cloudflare/cloudflared
    environment:
      - TUNNEL_METRICS=cloudflared:44871
      - TUNNEL_TRANSPORT_PROTOCOL=http2
    command: tunnel --no-autoupdate --url http://workspace:80
    expose:
      - "44871"
  earthly:
    image: earthly/buildkitd:v0.7.1
    privileged: true
    environment:
      - BUILDKIT_TCP_TRANSPORT_ENABLED=true
    expose:
      - 8372
    volumes:
      # https://docs.earthly.dev/docs/guides/using-the-earthly-docker-images/buildkit-standalone#earthly_tmp_dir
      - earthly-tmp:/tmp/earthly:rw

volumes:
  earthly-tmp:
