a.charleywong {
    background: #FF0;
    border-color: #FF0;
    border-style: solid;
    border-radius: 1em;
    border-width: 0.25em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    display: inline-block;
    font-size: xx-small;
    vertical-align: 30%;
}