.charleywong-button {
    display: inline-block;
    box-sizing: border-box;
    width: 1em;
    height: 1em;
    padding: 0;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OTAiIGhlaWdodD0iNDkwIj4KPHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjM2IiBzdHJva2UtbGluZWNhcD0icm91bmQiCmQ9Im0yODAsMjc4YTE1MywxNTMgMCAxLDAtMiwybDE3MCwxNzBtLTkxLTExNyAxMTAsMTEwLTI2LDI2LTExMC0xMTAiLz4KPC9zdmc+IA==');
    background-color: #FF0;
    background-size: 50% 50%;
    background-position: center center;
    background-repeat: no-repeat;
    border-color: #FF0;
    border-style: solid;
    border-radius: 1em;
    border-width: 0;
    box-shadow: inset 0 0 0 0.1em #FF0;
    transition: box-shadow 0.2s ease-out;
    cursor: pointer;
    outline: none;
    vertical-align: -5%;
}

.charleywong-button:hover {
    box-shadow: inset 0 0 0 0.1em #555;
}