name: CI
on:
  push:
  schedule:
    - cron: '0 0 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    container: giffon/charleywong_devcontainer_workspace:20210423120226
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Copy libs from /workspace
        run: |
          cp -r /workspace/node_modules .
          cp -r /workspace/lib/dts2hx lib/
      - run: yarn
      - name: Compile index.js
        run: haxe build.hxml
      - name: Minify browser.js
        run: npx browserify browser.js -g [ envify --NODE_ENV production ] -g uglifyify | npx terser --compress --mangle > static/browser.bundled.js
      - uses: actions/upload-artifact@v1
        with:
          name: index
          path: index.js
      - uses: actions/upload-artifact@v1
        with:
          name: browser
          path: static/browser.bundled.js
      - uses: actions/upload-artifact@v1
        with:
          name: dclookup
          path: dclookup.js
      - name: Compile Chrome extension
        run: haxe chrome-extension.hxml
      - uses: actions/upload-artifact@v1
        with:
          name: chrome
          path: chrome
      - name: Run test
        shell: bash
        run: haxe test.hxml "$GITHUB_EVENT_NAME"
  deploy:
    concurrency: ${{ github.ref }}
    needs: build
    if: success() && github.event_name == 'push' && ( github.ref == 'refs/heads/master' || github.ref == 'refs/heads/production' )
    runs-on: ubuntu-latest
    container: giffon/charleywong_devcontainer_workspace:20210423120226
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Copy libs from /workspace
        run: |
          cp -r /workspace/node_modules .
          cp -r /workspace/lib/dts2hx lib/
      - run: yarn
      - uses: actions/download-artifact@v1
        with:
          name: dclookup
      - uses: actions/download-artifact@v1
        with:
          name: index
      - uses: actions/download-artifact@v1
        with:
          name: browser
      - name: move artifacts
        run: |
          set -ex
          mv dclookup/* .
          mv index/* .
          mv browser/* static
          rm -r dclookup index browser flexsearch HkbaseDirectory
      - name: Dump HKBASE directory
        run: |
          set -ex
          haxe dumpHkbaseDirectory.hxml
          node dumpHkbaseDirectory.js dump
        env:
          GOOGLE_CLIENT_EMAIL: ${{ secrets.googleClientEmail }}
          GOOGLE_PRIVATE_KEY: ${{ secrets.googlePrivateKey }}
      - name: Dump YellowBlueMap
        run: |
          haxe syncYellowBlueMap.hxml
          node syncYellowBlueMap.js dump
        env:
          AWS_DEFAULT_REGION: us-east-1
          AWS_ACCESS_KEY_ID: ${{ secrets.YBM_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.YBM_AWS_SECRET_ACCESS_KEY }}
      - name: Export flexsearch index
        run: haxe exportFlexsearch.hxml
      - run: ls -lh
      - name: Set Env
        run: |
          set -ex
          if [ "${GITHUB_REF}" = "refs/heads/master" ]; then
            echo "DEPLOY_STAGE=master" >> $GITHUB_ENV
            echo "SERVER_HOST=charleywong-master.giffon.io" >> $GITHUB_ENV
          elif [ "${GITHUB_REF}" = "refs/heads/production" ]; then
            echo "DEPLOY_STAGE=production" >> $GITHUB_ENV
            echo "SERVER_HOST=charleywong.giffon.io" >> $GITHUB_ENV
          fi
      - name: Deploy
        run: npx serverless deploy --stage "${DEPLOY_STAGE}"
        env:
          GOOGLE_CLIENT_EMAIL: ${{ secrets.googleClientEmail }}
          GOOGLE_PRIVATE_KEY: ${{ secrets.googlePrivateKey }}
          FACEBOOK_TOKEN: ${{ secrets.FACEBOOK_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.awsAccessKeyId }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.awsSecretAccessKey }}
          SERVERLESS_ACCESS_KEY: ${{ secrets.serverlessAccessKey }}
      - name: Post-deployment test
        run: haxe test.hxml post-deployment "${SERVER_HOST}"
      - name: Export spreadsheet
        if: github.ref == 'refs/heads/production'
        run: haxe -D CI exportSpreadsheet.hxml
        env:
          GOOGLE_CLIENT_EMAIL: ${{ secrets.googleClientEmail }}
          GOOGLE_PRIVATE_KEY: ${{ secrets.googlePrivateKey }}
