name: Update meta
on:
  schedule:
    - cron: '0 * * * *' # every hour
jobs:
  job:
    runs-on: ubuntu-latest
    container: giffon/charleywong_devcontainer_workspace:20210520095205
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: true
          ref: meta
      - name: Copy libs from /workspace
        run: |
          cp -r /workspace/node_modules .
          cp -r /workspace/lib/dts2hx lib/
      - run: yarn
      - name: Compile
        run: haxe syncFacebook.hxml
      - name: Import gpg key
        run: |
          echo "${#CBCA760DC1170A9B}"
          echo "$CBCA760DC1170A9B" | gpg --import
        env:
          CBCA760DC1170A9B: ${{ secrets.CBCA760DC1170A9B }}
      - name: Run
        run: node syncFacebook.js updateMeta "Charley Wong's bot <charleywong-bot@giffon.io>" "CBCA760DC1170A9B!" "https://${GITHUB_ACTOR}:${GITHUB_TOKEN}@github.com/giffon/charleywong.git" meta
        env:
          GITHUB_ACTOR: ${{ secrets.GITHUB_ACTOR }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FACEBOOK_TOKEN: ${{ secrets.FACEBOOK_TOKEN }}
